.vscode/**
.vscode-test/**
out/**
node_modules/**
!node_modules/@vscode/webview-ui-toolkit/**
src/**
flagship/**
abtasty-cli/**
*.vsix
tsconfig.json
webpack.config.js
CHANGELOG.md
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
